#frame {
    overflow: hidden;
}

#menu {
    float: left;
    width: 10%;
    padding-right: 10px;
}

#display {
    overflow: hidden;
    border:1px solid black;
}
body {
    padding: 10px;
}
select {
    width: 95%;
}