#frame {
    overflow: hidden;
}

#menu, #overview {
    float: left;
    padding: 10px 10px 10px 10px;
    margin-right: 10px;
    background-color: #4d6b42;
}

#menu {
    width: 15%;
}

#overview {
    width: 100%;
}

#display {
    overflow: hidden;
}

#showcase {
    height: 400px;
    text-align: center;
    background-color: #FFFFFF;
}

body {
    padding: 10px;
    background-color: #6b925b;
    color: #FFFFFF;
}

select {
    width: 95%;
}

#table{
    background-color: #6b925b !important;
    color: #FFFFFF;
}